<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<arg name="fcu_url" default="udp://:14520@192.168.1.42:14525" />
	<arg name="gcs_url" default="udp://@localhost" />
	<arg name="gcs_url_2" default="udp://@192.168.1.221" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />

	<arg name="vrpn_server" default="192.168.1.20"/>
  <arg name="vrpn_object_name" default="MunchkinMag"/>

	<node if="true" pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg vrpn_server)
      port: 3883

      update_frequency: 50.0
      frame_id: world

      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: false
      broadcast_tf: true

      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      #refresh_tracker_frequency: 1.0
      trackers:
      - $(arg vrpn_object_name)
      #- SecondTracker
    </rosparam>
    <!--<remap from="vrpn_client_node/$(arg vrpn_object_name)/pose" to="/mavros/mocap/pose"/>-->
  </node>

  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find x4_drone)/launch/px4_config.yaml" />

    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
    <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
    <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
  </include>

  <node if="false" pkg="mavros" type="gcs_bridge" name="gcs_bridge" output="screen" respawn="true" clear_params="true">
    <param name="gcs_url" value="$(arg gcs_url_2)"/>
  </node>

  <node if="true" pkg="topic_tools" type="relay" name="relay_pose" args="/vrpn_client_node/$(arg vrpn_object_name)/pose /mavros/vision_pose/pose" output="screen"/>
</launch>
